* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 75vw;
  margin: auto;
}

h1 {
  font-family: "Arimo", sans-serif;
  font-size: 70px;
  font-weight: 500;
  line-height: 80px;
}

h2 {
  font-family: "Arimo", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 80px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.bold {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.5;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.logo {
  font-family: "MonteCarlo", cursive;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 55px 150px 0 150px;
  z-index: 1;
}

.header__navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navbar-item {
  margin-left: 40px;
}

.header__navbar-item a {
  color: white;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__navbar-item a:hover {
  color: #52796f;
}

.header__navbar-item--cta a {
  display: inline-block;
  padding: 17px 33px;
  background-color: black;
  text-transform: uppercase;
  color: white;
  text-align: center;
  border-radius: 9px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header__navbar-item--cta a:hover {
  color: white;
  background-color: #52796f;
}

.hero {
  position: relative;
  overflow: hidden;
  padding-bottom: 100vh;
  margin-top: -135px;
}

.hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 101%;
  min-height: 101%;
  max-width: none;
  max-height: none;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-size: cover;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.hero__text {
  position: absolute;
  z-index: 1;
  left: 240px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero__text h1 {
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}

.hero__text p {
  font-size: 24px;
  line-height: 35px;
  color: white;
  max-width: 610px;
  margin-bottom: 30px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 250px;
  height: 80px;
  background-color: black;
  text-transform: uppercase;
  text-align: center;
  color: white;
  border-radius: 9px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn:hover {
  background-color: #52796f;
}

.hero-promo {
  position: relative;
  padding: 78px 0;
  background-color: #354f52;
}

.hero-promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-promo__text h1 {
  color: white;
  margin-bottom: 20px;
}

.hero-promo__text p {
  max-width: 610px;
  font-size: 24px;
  color: white;
  line-height: 35px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */