//fonts
$ff-heading:'Arimo', sans-serif;
$ff-text: 'Montserrat', sans-serif;
$ff-logo: 'MonteCarlo', cursive;

//colors
$black: black;
$white: white;
$main-color: #354f52;
$footer-background: #2f3e46;
$hover-color: #52796f;