.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    height: 80px;
    background-color: $black;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    border-radius: 9px;
    transition: all .3s ease-in-out;
    i {
        margin-left: 10px;
        transition: all .3s ease-in-out;
    }
    &:hover {
        background-color: #52796f;
        letter-spacing: 2px;
        i {
            transform: translateX(5px);
        }
    }
}