.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 150px 0 150px;
    z-index: 1;
    &__logo-brand {
        h1 {
        font-family: $ff-logo;
        font-size: 50px;
        font-weight: bold;
        color: $white;
        }
    }
    &__navbar-list {
        display: flex;
        align-items: center;
    }
    &__navbar-item {
        margin-left: 40px;
        a {
            color: $white;
            transition: all .3s ease-in-out;
            &:hover {
                color: $hover-color;
            }
        }
        &--cta {
            a {
                display: inline-block;
                padding: 17px 33px;
                background-color: $black;
                text-transform: uppercase;
                color: $white;
                text-align: center;
                border-radius: 9px;
                transition: all .3s ease-in-out;
                &:hover {
                    color: $white;
                    background-color: $hover-color;
                } 
            }
        }
    }
    
}        