.hero-promo {
    position: relative;
    padding: 78px 0;
    background-color: $sub-main-color;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        width: 50%;
        h1 {
            color: $white;
            margin-bottom: 20px;
        }
        p {
            max-width: 610px;
            font-size: 24px;
            color: $white;
            line-height: 35px;
            margin-bottom: 30px;
        }
    }
    &__image {
        width: 50%;
        max-width: 595px;
        .media-wrapper {
            padding-bottom: 125.1%;
        }

        
    }
}