* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }

  html {
    scroll-behavior: smooth;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    display: block;
  }
  
  img, video {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    max-width: 75vw;
    margin: auto;
    @include respond-to('medium-large') {
      max-width: 90vw;
    }
    @include respond-to('large') {
      max-width: 100%;
      padding: 0 30px;
    }
  }
  
  .media-wrapper {
    position: relative;
    overflow: hidden;
    img {
      bottom: -9999px;
      height: 100%;
      left: -9999px;
      margin: auto;
      max-width: none;
      min-width: 100%;
      position: absolute;
      right: -9999px;
      top: -9999px;
      width: auto;
    }
  }