h1 {
    font-family: $ff-heading;
    font-size: 70px;
    font-weight: 500;
    line-height: 80px;
}

h2 {
    font-family: $ff-heading;
    font-size: 50px;
    font-weight: 500;
    line-height: 80px;
}

h3 {
    font-family: $ff-text;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
}

p {
    font-family: $ff-text;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

.bold {
    font-family: $ff-text;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
}

h3 {
    font-family: $ff-text;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
}

a {
    font-family: $ff-text;
    font-size: 18px;
    font-weight: 500;
}

.logo {
    font-family: $ff-logo;
    font-size: 50px;
    font-weight: bold;
    color: $white;
}